<div class="page-title">
    <h1>Profile</h1>
</div>
<em class="subtitle">Who I am? Information about myself</em>

<div class="content-wrapper">
    <article class="post odd">
        <h2 class="post-title">Hi, my name is Cesar Gutierrez Tineo</h2>
        <p>
        <table cellpadding="10">
        <tr>
            <td>
                <a href="http://goo.gl/s0tZ2" target="_blank">
                    <img src='/images/zce.jpg' style="margin: 15px"/>
                </a>
            </td>
            <td>
                <ul style="list-style: none">
                    <li>Software Developer. </li>
                    <li>Proficiency in LAMP Stack, Web Server Configuration,
        skill in various technologies and programming languages.</li>
                </ul>
            </td>
         </tr>
         </table>
        </p>
    </article>

    <article class="post even general-skills">
        <h2 class="post-title">What I’m Good At</h2>
        <div class="skill-item">
            <a href="#"><i></i><img src="/images/php.png"/></i></a>
            <h3>Getting PHP with superpowers</h3>
            <p>Enhance your PHP with a good configuration and extensions!</p>
        </div>
        <div class="skill-item">
            <a href="#"><i><img src="/images/js.png"/></i></a>
            <h3>Javascript culture</h3>
            <p>Node.JS, JQuery or AngularJS. Even pure Javascript, every modern web app needs it.   </p>
        </div>
        <div class="skill-item">
            <a href="#"><i><img src="/images/git.png"/></i></a>
            <h3>Living with Git</h3>
            <p>Build on the top of a professional projects. Reuse components with swag. It's awesome. </p>
        </div>
    </article>

    <div class="technical-skills">
        <div class="block graphic-skills">
            <h2 class="block-title">Programming Skills</h2>
            <ul>
                <li class="progressbar"><span data-process="90%" class="progress red"><span class="value">PHP - 90%</span></span></li>
                <li class="progressbar"><span data-process="80%" class="progress dark-orange"><span class="value">Java - 80%</span></span></li>
                <li class="progressbar"><span data-process="75%" class="progress orange"><span class="value">Javascript - 75%</span></span></li>
                <li class="progressbar"><span data-process="50%" class="progress yellow"><span class="value">Perl - 50%</span></span></li>
                <li class="progressbar"><span data-process="35%" class="progress green"><span class="value">Ruby - 35%</span></span></li>
                <li class="progressbar"><span data-process="35%" class="progress turquoise"><span class="value">Python - 35%</span></span></li>
            </ul>
        </div>

        <div class="block other-skills">
            <h2 class="block-title">Other Skills</h2>
            <ul>
                <li class="progressbar"><span data-process="85%" class="progress turquoise"><span class="value">SQL - 85%</span></span></li>
                <li class="progressbar"><span data-process="75%" class="progress blue"><span class="value">HTML5 - 80%</span></span></span></li>
                <li class="progressbar"><span data-process="60%" class="progress dark-blue"><span class="value">CSS3 - 60%</span></span></li>
                <li class="progressbar"><span data-process="55%" class="progress purple"><span class="value">Bash - 45%</span></span></li>
            </ul>
        </div>
    </div>
</div>